$primary_btn : #89ebac;
$hover_btn : yellow;

$secondary_color : #0fada5;  


@import "../css/_header";


body {
background-color: white;

}

button {
 background: $primary_btn;
    &:hover {
        background: $hover_btn;
    }
}